server:
  port: 8888

spring:
  application:
    name: gateway-service
  config:
    # C'est cette ligne qui corrige l'erreur "No spring.config.import..."
    import: "optional:configserver:http://localhost:9999"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Active le routage automatique basé sur les noms Eureka
          lower-case-service-id: true # Permet d'accéder via /keynote-service/ au lieu de /KEYNOTE-SERVICE/

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/